.gallerySection {
	width: 94%;
	min-height: 200vh;
	margin-block: 5rem;
	position: relative;
	overflow: hidden;
}

.gallerySection h1 {
	font-size: clamp(3.5rem, 12vw, 12rem);
	font-family: var(--ff-halimun);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	margin: 0;
	color: var(--heading-secondary);
}

.gallerySection h1:nth-child(1) {
	top: 15%;
}

.gallerySection h1:nth-child(3) {
	top: 85%;
}

.images {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 100vh;
	margin: 0 auto;
}

.imageContainer {
	width: 100%;
	height: 70vh;
	position: relative;
	z-index: -1;
	border: 4px solid var(--heading-secondary);
}

.imageContainer img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.imageContainer::before {
	content: "";
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: 4;
	top: 0;
	left: 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
	.gallerySection {
		width: 95%;
	}
	.lines,
	.images {
		grid-template-columns: repeat(1, 1fr);
	}
}
