.heroSection {
	min-height: calc(100vh - 150px);
	width: 100%;
	position: relative;
}

.heroCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block: 2rem;
}

.heroTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: var(--heading-primary);
}

.title {
	font-size: clamp(2.25rem, 8vw, 6rem);
}

.subtitle {
	font-size: clamp(1.175rem, 3.25vw, 1.75rem);
	font-family: var(--ff-halimun);
}

.heroImg {
	width: clamp(300px, 40%, 442px);
	max-width: 442px;
	padding-top: 1rem;
	z-index: 1;
}

.heroImg img {
	width: 100%;
	aspect-ratio: 442 / 574;
	object-fit: cover;
	border-top-left-radius: 48%;
	border-top-right-radius: 48%;
}

.peaImg {
	width: clamp(75px, 20%, 300px);
	position: absolute;
	left: 0;
	top: 100px;
}

.peaImgRight {
	width: clamp(75px, 20%, 200px);
	position: absolute;
	right: 0;
	bottom: 200px;
	transform: rotateY(-180deg);
}

/* Media Queries */
@media screen and (min-width: 1980px) {
	.heroCenter {
		margin-top: 8rem;
	}
}

@media screen and (max-width: 768px) {
	.heroCenter {
		margin-top: 2rem;
	}

	.peaImg {
		top: 30px;
	}

	.peaImgRight {
		top: 80px;
	}
}
