.servicesSection {
	min-height: 100svh;
	width: 94%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cafeImg {
	position: absolute;
	width: clamp(65px, 12%, 200px);
	right: 6%;
	top: 24%;
	z-index: 0;
}

.challahImg {
	position: absolute;
	width: clamp(65px, 8%, 250px);
	left: 2%;
	top: 65%;
	z-index: 0;
}

.servicesContainer {
	width: 100%;
	max-width: 85rem;
	padding-block: 8rem;
	padding-inline: 2rem;
	background-color: var(--bg-secondary-transparent);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.chefsImg {
	flex: 1;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-right: 1rem;
}

.chefsImg .chefs {
	width: 100%;
	max-width: 480px;
	aspect-ratio: 480 / 616;
	object-fit: cover;
	border: 1rem solid var(--heading-primary);
	border-top-left-radius: 48%;
	border-top-right-radius: 48%;
	z-index: 1;
}

.servicesContent {
	flex: 1;
	padding-inline: clamp(0.5rem, 2%, 2rem);
	font-family: var(--ff-satoshi);
	color: var(--text-secondary);
}

.servicesTitle {
	font-size: clamp(2rem, 3.75vw, 3.5rem);
	font-weight: var(--fw-medium);
}

.servicesText {
	font-size: clamp(1rem, 1.75vw, 1.5rem);
	margin-block: 2rem 4rem;
	text-align: left;
}

/* Media Queries */
@media screen and (max-width: 768px) {
	.servicesContainer {
		flex-direction: column-reverse;
		padding-block: 2rem;
	}

	.servicesTitle {
		font-size: clamp(1.75rem, 6vw, 3.25rem);
	}

	.servicesText {
		font-size: clamp(1rem, 2vw, 1.5rem);
		margin-top: 1rem;
		width: 100%;
		margin-inline: auto;
	}

	.chefsImg {
		padding-top: 2rem;
		padding-inline: 0;
	}

	.servicesContent {
		padding: 2rem 0;
		text-align: center;
	}
}
