h1 {
	font-family: var(--ff-halimun);
	font-weight: 700;
}

p {
	font-family: var(--ff-satoshi);
	font-weight: var(-fw-regular);
}

.overlay::before {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	z-index: -2;
	opacity: 30%;
	background: #fff;
	filter: url(#noiseFilter);
	pointer-events: none;
	background-repeat: repeat;
}

svg {
	position: absolute;
	z-index: -1;
}
